<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<h1>Hai</h1>
	<table>
		<tr>
			<th>{{error}}</th><br>
			{% for head in heads %}
			<th>{{head}}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for user in users %}
			<td>{{user[0]}}</td>
			<td><a href="/demo/{{user[0]}}">{{user[1]}}</a></td>
			{% endfor %}
		</tr>
	</table>
	<form action="/" method="POST">
		<input type="text" name="name" >
		<input type="submit" name="submit" value="Search">
	</form>
</body>
<script type="text/javascript">
	function age(){
		alert(document.getElementById('age').value);
	}
</script>
</html>